<section class="section-request">
  <div class="section__head">
    <div class="btn-group btn-group-toggle" ngbRadioGroup>
      <label class="btn-primary" ngbButtonLabel>
        <input type="radio" (click)="navigateToActiveForm('corporate')" value="corporate" ngbButton />
        Corporate
      </label>

      <label class="btn-primary" ngbButtonLabel>
        <input type="radio" (click)="navigateToActiveForm('retail')" value="retail" ngbButton />
        Retail
      </label>
    </div>
  </div>

  <div class="section__body">
    <router-outlet></router-outlet>
  </div>
</section>
